<div id="map-canvas"></div>
<div id="side-bar">
</div>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYfEiiXrmLH9G8bsfmnyqin4txOHzzJGI&sensor=false">
</script>

<script>
  var company = <%= @company.html_safe %>
</script>
