<div id="side-bar">
	<h2 class="logo">LaborSight</h2>
	<h6 class="fade tag">Discover which businesses are violating labor laws in your neighborhood.</h6>

	<div class="sidebar-info">
		<h3>Welcome</h3>
		<hr class="divider">
		<div id="biz-info">
			<p class="fade">Welcome to LaborSight, a tool that can help you discover businesses in your
			 area that are in violation of United States labor law. 
			</p>
			<p class="fade">
				LaborSight employs a ratings system to let you know the scope and severity of each businesses' violations. Click on any point of the map to find out more.   
			</p>
		</div>
	</div>

	<div class="sidebar-info">
		<h3>In Your Neighborhood</h3>
		<hr class="divider">
		<h6 class="fade tag">(As determined by browser location.)</h6>
		<div id="hood-info">
		</div>
		<p></p>
	</div>

	<!-- <a alt="About the Department of Labor Data Challenge" href="/about">About</a>
	<a href="http://enforcedata.dol.gov/data_summary.php" alt="Data Source">Data Source</a> -->


</div>

<div id="map">
	<div id="panel">
      <input id="target" type="text" placeholder="">
	</div>
  <div id="map-canvas">
  </div>
</div>
