<div id="side-bar">
	<h2>DOL Data Challenge</h2>
	<hr class="divider">

	<div class="sidebar-info">
		<h3>About Your Neighborhood</h3>
		<hr class="divider">
		<p></p>
	</div>

	<div class="sidebar-info">
		<h3>Biz Info</h3>
		<hr class="divider">
		<div id="biz-info">
			<p class="fade">Click on any map point to learn the grade of a business.</p>
		</div>
	</div>

	<a alt="About the Department of Labor Data Challenge" href="/about">About</a>


</div>


<div id="map">
  <div id="map-canvas">
  </div>
</div>
