@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import "bourbon";
@import "neat";
@import "variables";
@import "typography";
@import "forms";
@import "tables";
@import "lists";
@import "flashes";

/*
 *= require_self
*/

//***** Global ******//
* {
  margin: 0;
}

.right {
  float: right;
}


//***** Colors ******//
.green {
  color: $green;
}

.red {
  background-color: $red;
}

.blue {
  background-color: $blue;
}

.yelp {
  color: $yelp;
}

.foursquare {
  color: $foursquare;
}

.facebook {
  color: $facebook;
}

.fade {
  color: $medium-gray;
}

.divider {
  border-bottom: 1px dashed #999999;
  border-style: dashed;
}

//***** Map ******//
#side-bar {
  @include outer-container;
  @include span-columns(3);
  @include pad();
  font-size: 80%;
  min-height: 100%;
  margin-bottom: -30px;
    .logo {
      color: $blue;
      font-size: 3em;
      font-weight: 700;
    }

    .tag {
      color: $medium-gray;
    }

    h3 {
      color: $blue;
      font-size: 1.5em;
    }

    .sidebar-info {
      margin: 2em 0;
    }

    div {
      margin: 1em 0;
    }

    tr:nth-child(odd) { 
      background-color: $highlight-gray;
    }
    tr:nth-child(even){ 
      background-color: $white; 
    }

    td {
      border: none;
    }

    .side-grade {
      background-color: $red;
      color: $white;
      font-size: 2.25em;
      float: left;
      text-align: center;
      width: 40px;
      height: 0;
      margin-top: .25em;
      padding-bottom: 40px;
    }
}

#side-bar:after{
  content: "";
  display: block;
}

.sidebar-nav, .sidebar-nav:after {
  height: 30px;
}

.sidebar-nav {
  background-color: $dark-gray;
}

#map {
  @include span-columns(9);
  @include omega();
  height: 100%;
}

#map-canvas {
  height: 100%;
}

//***** Search ******//
#panel {
  opacity: .7;
  position: absolute;
  right: 1.5%;
  top: 1.75em;
  z-index: 50;

  #target {
    @include background-image(url("/assets/maps/search.png"));
    background-position: 4% 43%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding:8px 17px 8px 40px;
  }
}

.pac-container {
  opacity: .7;
}

//***** Info Box ******//

#info-box {
  min-height: 100px;
  height: 100%;
  min-width: 200px;
  padding: 10px 0;

  h4 {
    margin-bottom: 5px; 
  }

  span {
    font-family: $base-font-family;
    float: left;
  }

}

.popup-address {
  @extend .fade;
  font-family: $base-font-family;
  float: left;
}

.popup-grade {
  background-color: $red;
  color: $white;
  float: right;
  text-align: center;
  margin: 2.35765%;
  width: 40px;
  height: 0;
  padding-bottom: 40px;

  span {
    font-size: 10vh;
    position: relative;
    width: 100%;
    top: 20%;
  }
}

a.more-info, .gm-style .gm-style-iw a {
  clear: both;
  font-family: $header-font-family;
  font-weight: 700;
}

.gm-style .gm-style-iw {
  margin-left: 6px;
}


//***** Profile ******//
.action {
  @include span-columns(12);
  margin: 2em 0;
}

.contact {
  @include span-columns(6);
  @include pad();
}

.data {
  @include span-columns(12);
  margin: 4em 0;
}

footer {
  @include span-columns(9);
  @include shift(1.5);
  height: 30px;
  background-color: $dark-gray;
}

.grade {
  background-color: $red;
  color: $white;
  float: right;
  text-align: center;
  margin: 2.35765%;
  width: 15%;
  height: 0;
  padding-bottom: 15%;

  span {
    font-size: 12vh;
    position: relative;
    width: 100%;
    top: 20%;
  }
}

.jumbo {
  margin-top: 5em;
  h1{
    text-align: center;
    font-size: em(84);
    font-weight: 300;
  }
}

.profile {
  @include span-columns(9);
  @include shift(1.5);
  @include pad();
}

.stats {
  @include span-columns(4);
  @include omega;
  margin: 2em 0;

  h3{
    text-align: center;
  }
}

.service-stats {
  @include span-columns(10);
  @include shift(1);
  @include pad();
}

.service-title {
  @include span-columns(10);
  @include shift(1);
  @include pad();
  border-bottom: 1px dashed $medium-gray;
}

.social-action {
  text-align: center;
}

.social-icon {
  border: 0;
  display: inline;
  height: 8em;
  margin: 2em 2em;
  width: 8em;
}

.return {
  @include span-columns(1);
  position: fixed;
  top:100px;
  padding: 10px 0;
  font-weight: 700;
  color: $white;
  text-align: center;
  background-color: $dark-gray;
    a, a:link, a:visited {
      color: $white;
    }
}

.return:hover {
  background-color: $green;
}

.page-title {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1em;
  margin: 0 auto;
  text-transform: uppercase;
}

//***** Tabs ******//
.stats-header {
  @include pad();
  color: $blue;
  clear: both;
  font-size: 2.5em;
  font-weight: 300;
}

#pure-stats {
  @include pad();
  clear: both;
  text-align: justify;

  ul li {
    @include span-columns(2.4);
    font-family: $header-font-family;
    background-color: $highlight-gray;
    display: inline;
    font-size:  1.25em;
    padding: .5em;
    text-align: center;
  }

  .ui-state-active a, .ui-state-active a:link {
    color: $green;
  }

  h3 {
    border-bottom: 1px dashed #999999;
    font-size: 1.75em;
    font-weight: 300;
    margin: .5em 0;
  }

  li:focus {
    outline: none;
  }

  table {
    padding-bottom: 1em;
  }

  div {
    border-top: 1px dashed #999999;
    clear: both;
    height: 16.5em;
    margin-top: 1em;
    padding: 0 0 2em 0;
  }

  p {
    margin-top: 1em;
  }

  .good-standing {
  font-size: 1.25em;
  margin: 2em 0;
  }
} 

//***** Chart ******//

canvas {
  width: 100% !important;
  height: auto !important;
  max-width: 600px;
}

.chart-nav {
  @include span-columns(8);
  @include shift(2);
}

//***** Slider ******//


.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
}

.slider {
  @include omega;
  position: relative;
  margin-top: 8em;
  height: 490px;
}

.slider ul {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 140px;
  overflow: hidden;
  text-align: center;
  pointer-events: none;
}

.slider ul.current {
  pointer-events: auto;
}

.slider nav {
  position: relative;
  top: 400px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  border-top: 5px solid $dark-gray;
}

.slider nav a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  padding: 40px 30px 30px 34px;
  position: relative;
  color: $medium-gray;
  outline: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.slider nav a:hover,
.slider nav a.selected {
  color: $black;
}

.slider nav a.selected:after,
.slider nav a.selected:before {
  content: '';
  position: absolute;
  top: -5px;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.slider nav a.selected:after {
  border-color: transparent;
  border-top-color: $white;
  border-width: 20px;
  left: 50%;
  margin-left: -20px;
}

.slider nav a.selected:before {
  border-color: transparent;
  border-top-color: $dark-gray;
  border-width: 27px;
  left: 50%;
  margin-left: -27px;
}

.legend {
  @include span-columns(6);
  @include omega();
  color: $medium-gray;
  text-align: center;

  h6 {
    display: inline;
  }
}

.red, .blue {
  display: inline-block;
  height: .75em;
  margin-right: .5em;
  width: .75em;
}