@import "bourbon";
@import "neat";

/*
 *= require_self
*/

// Base Elements //
html { height: 100% }
body { height: 100%; width: 100%; margin: 0; padding: 0 }

// Map //
#map {
  @include outer-container;
  @include span-columns(9);
  height: 100%;
}

#map-canvas {
  height: 100%;
}

#side-bar {
  @include span-columns(3);
  @include omega();
  // @include shift(9);
  background-color: #333;
  color: #fff;
}
